.icon.preview_icon, .transparent_png.play_icon {
    display: none;
}

tbody tr:not([data-spotify-unresolvable]) td.playbuttonCell {
    background-image: url('http://static.ryanberdeen.com/spotify-icon-small.png') !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}

tbody tr td.playbuttonCell {
    min-width: 17px !important;
}

.spotfmPlaying, table.chart tr.odd.spotfmPlaying td {
    background-color: green !important;
    color: #fff;
}

table.chart .spotfmPlaying td.subjectCell a {
    color: #fff !important;
}

iframe.track-detail-frame {
    position: absolute;
    width: 400px;
    height: 200px;
    background: transparent;
    border: none;
    -webkit-transition: height .3s ease-in;
}

iframe.track-detail-frame.loading {
    height: 50px;
}
